[Unit]
Description=Svensk programmering Discord bot
After=network.target

[Service]
ExecStart=/usr/local/bin/npm run start:prod --prefix /home/pi/sp-bot/
WorkingDirectory=/home/pi/sp-bot
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
